*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1, .register-container{
    width: 50vw;
    border: 2px solid rgb(7, 7, 7);
    padding: 15px;
    margin: 0 auto;
}
.register{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
span{
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.formgroup {
    display: flex;
    flex-direction: column;
    width: 45%;  
}
select {
width: 100%;
}
.select {
margin: 0 auto 0 20px;
}
label {
    margin-bottom: 10px;
}
.radio {
    margin-left: 20px;
    margin-bottom: 15px;
}
.radio input, label{
    margin-right: 15px;
}